.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000b3b;
  padding: 1rem 2rem;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 1rem;
}

.navbar-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #dc2626;
  color:#ffffff
}
